/* examples
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
 */
$background-color: #004643;
$headline-color: #fffffe;
$paragraph-color: #abd1c6;
$button-color: #f9bc60;
$button-text-color: #001e1d;
$stroke-color: #001e1d;
$main-color: #e8e4e6;
$highlight-color: #f9bc60;
$secondary-color: #abd1c6;
$tertiary-color: #e16162;
