@import "../styles/variable";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: $background-color;
  color: $paragraph-color;
  font-size: 100%;
  list-style-type: none;
}
.container-page {
  display: grid;
  grid-template-areas:
    "navBar navBar navBar"
    "main main main"
    "footer footer footer";
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.navBar {
  grid-area: navBar;
  padding: 1rem;
}

.main {
  grid-area: main;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  margin-top: auto;
}
