@import "../variable";
.container-navBar {
  //   background-color: $main-color;
  display: flex;
  justify-content: end;
  gap: 1em;

  .color-text-navBar {
    text-decoration: none;
    color: $main-color;
    font-weight: bold;
    // efecto hover
    &:hover {
      color: $paragraph-color;
    }
  }
  @media (300px<= width <=767px) {
    justify-content: center;
  }
}
