@import "../variable";
.container-navBar {
  display: flex;
  justify-content: end;
  gap: 1em;

  .color-text-navBar {
    text-decoration: none;
    color: $main-color;
    font-weight: bold;

    &:hover {
      color: $secondary-color;
    }
  }
  @media (300px<= width <=767px) {
    justify-content: center;
  }
}
