/* en app pondremos los estilos bases como son los del navBar */
/* seccion para el navBar */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* NOTE:Seccion para el navBar */

.colorText {
  color: #fffffe !important;
}

.colorText span {
  transition: color 0.2s ease-in-out; /* Transición suave en el cambio de color */
}

.colorText span:hover {
  color: #f9bc60; /* Cambio de color al hacer hover */
}
/* NOTE:Seccion para el Home */
.contentHome {
  padding-left: 25px;
  padding-right: 25px;
}
.containerHome {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}
.containerHome p {
  color: #abd1c6 !important;
  text-align: left;
}
.containerImgHome {
  position: relative;
  width: 100%;
  border: 1px solid beige;
  text-align: right;
}
.avatarImg {
  width: 300px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: fill;
}
