/* en app pondremos los estilos bases como son los del navBar */
/* seccion para el navBar */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* NOTE:Seccion para el navBar */

.colorText {
  color: #fffffe !important;
}

.colorText span {
  transition: color 0.2s ease-in-out; /* Transición suave en el cambio de color */
}

.colorText span:hover {
  color: #f9bc60; /* Cambio de color al hacer hover */
}
.containerNavBar {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  padding-bottom: 3rem !important;
}
/* NOTE:Seccion para el Home */
.contentHome {
  padding-left: 2rem;
  padding-right: 2rem;
}
.containerTextHome {
  width: 300%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerHome {
  display: flex;
  height: calc(100vh - 350px);
  justify-content: space-between;
}
.containerHome p {
  width: 100%;

  color: #abd1c6 !important;
  text-align: left;
}
.containerHome span,
h1 {
  padding-bottom: 0.5rem;
}

.containerImgHome {
  background-color: #fffffe !important;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatarImg {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: fill;
  object-position: center;

  border: 10px solid transparent;
}
